{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}ChatAI | Home{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link href={% static 'css/style.css' %} rel="stylesheet" />
  </head>
  <body class="bg-stone-900 h-screen flex">
    {% block content %}{%endblock%}
    <script src="{% static 'js/chat.js' %}"></script>
  </body>
</html>
